.nurse-img {
  max-width: 180px;
  border-radius: 12px;
}

.card {
  border-radius: 12px;
}

.search-results {
  min-height: 80px;
}

.result-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px;
}
