#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin: 0;
}

#form-box {
    width: 22dvw;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 1px 3px 7px 1px rgba(194, 194, 194, 0.79)
}

h3 {
    text-align: center;
}

#msg {
    margin-top: 8px;
    margin-bottom: -2px;
}

#form-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.form-labels {
    margin-top: 8px;
}

#buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 22px;
}

.form-buttons {
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.3rem;
    box-shadow: 1px 3px 7px 1px rgba(194, 194, 194, 0.79);
}

.error {
    color: red;
}

.success {
    color: rgb(0, 255, 0);
}